.black_square {
    height: 80px;
    width: 80px;
    background-color: black;
    text-align: center;
    color: white;
}
.black_square:hover {
    background-color: yellow;
    color: black;
}
.white_square {
    height: 80px;
    width: 80px;
    background-color: white;
    text-align: center;
    color: black;
}
.white_square:hover {
    background-color: yellow;
}
.move_to_square {
    height: 80px;
    width: 80px;
    background-color: orange;
    text-align: center;
    color: black;
}
.move_to_square:hover {
    background-color: red;
}
#Board {
    border: 15px solid #5b0f00ff;
    border-collapse: collapse;
}

.sidenav{
    height: 100vh;
    width: 15%;
    background-color: black;
    text-align: center;
    top: 0;
    left: 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #818181;
    display: block;
    text-decoration: none;
    font-family: "bree serif";
}

.sidenav a:hover {
    color: #5b0f00ff;
}

.sidenav img{
    width: 50%;
    height: auto;
    margin: auto;
    padding: 10px;
}

body {
    display: flex;
    margin: 0px;
    font-family: "bree serif";
}

.content {
    margin: auto;
    width: auto;
    overflow: auto;
    display: flex;
}

#leaderboard{
    padding: 60px;
}

#leaderboard th, td{
    height: auto;
    width: 200px;
}

.profile {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    background-color: black;
    float: right;
}

.profile img{
    width: 100%;
    height: auto;
}

.stats{
    position: absolute;
    border: 3px;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px;
    display: none;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}

.dropdown:hover .stats{
    display: block;
}

.dropdown {
    padding: 10px 16px;
    font-size: 60px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.center{
    display: flex;
    justify-content: center;
}

.title{
    color: #818181;
    background-color: #5b0f00ff;
    border: 15px solid #5b0f00ff;
    width: 686px;
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.post{
    width: 686px;
    border: 15px solid #5b0f00ff;
    margin: 15px 0px;
}

.date{
    text-decoration: underline;
    padding: 10px 40px 0px;
    color: black;
    text-align: left;
    display:block;
}

.info{
    padding: 5px 40px 10px;
    color: black;
    text-align: center;
}

#pregame{
    display: flex;
    flex-direction: column;
}

#pregame p{
    margin: 0;
    text-align: center;
    border: 1px solid black;
}

#play button{
    width: 100%;
    display: inline-block;
    font-family: "bree serif";
}

#game button{
    width: 49.7%;
    display: inline-block;
    font-family: "bree serif";
    padding: 5px 0px;
    margin: 5px 0px;
}

#user_input div{
    padding: 3px 0px;
}

#rankings button{
    font-family: "bree serif";
}

.name_inputs{
    display: flex;
    justify-content: space-around;
}
